*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    margin: 10px auto;
    border: 1px solid black;
    background-color: rgb(230, 230, 230);
    padding: 16px;
}
.box-model-container{
    background-color: rgb(125, 196, 19);
    color: white;
    font-size: 32px; 
    padding: 28px;
    text-align: center;
    font-weight: bold;   
}
.text{
    padding: 24px;
    background-color: white;
    margin: 20px 0;
}
.text p:not(:last-child){
    margin-bottom: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 28px;
}