*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.heading{
    background-color: rgb(108, 108, 255);
    color: white;
    text-align: center;
    padding: 12px;
}
.container{
    margin:  40px auto;
    width: 600px;
    padding: 30px 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container .para1, .container ul{
    margin-bottom: 16px;
}
.container ul{
    list-style-type: none;
}